<ol class="breadcrumb">
    <li><a href="#">Home</a></li>
    <li class="active"> Add Company </li>
  </ol>

  
  
<div class="container">
    <div ng-show="success" class="alert alert-success alert-dismissable fade in">
        <span  class="close cross" data-dismiss="alert" aria-label="close">×</span>
        <strong> {{message}}</strong>
      </div>
  
    <h2>Add Company</h2>
    <form class="" >

      <div class="col-md-12">
          <div class="form-group col-md-6">
              <label class="control-label col-sm-2" for="name"> Name:</label>
              <div class="col-sm-10">
                <input type="text" ng-model="company.name" class="form-control" id="name" placeholder="Enter Company Name" name="name">
              </div>
            </div>

            <div class="form-group col-md-6">
                <label class="control-label col-sm-2" for="marketCap"> Market Cap:</label>
                <div class="col-sm-10">          
                  <input type="number" ng-model="company.marketCap" class="form-control" id="marketCap" placeholder="Enter Market Cap in Crores" name="marketCap">
                </div>
              </div>

      </div>
      
     <div class="col-md-12">

        <div class="form-group col-md-6">
            <label class="control-label col-sm-2" for="type"> Type:</label>
            <div class="col-sm-10">
                <select class="form-control" ng-model="company.type" ng-options="type for type in typeList" name="type">
                  </select>
            </div>
          </div>


          <div class="form-group col-md-6">
              <label class="control-label col-sm-2" for="headquarter"> Headquarter:</label>
              <div class="col-sm-10">
                <textarea  class="form-control" ng-model="company.headquarter" id="headquarter" placeholder="Enter Headquarter Address" name="headquarter"></textarea>
              </div>
            </div>

     </div>


     <div class="col-md-12">

        <div class="form-group col-md-6">
            <label class="control-label col-sm-2" for="growth"> Last FY Growth:</label>
            <div class="col-sm-10">
                <input type="number" ng-model="company.growth" class="form-control" id="growth" placeholder="Enter Last FY Growth" name="growth">
                
            </div>
          </div>


          <div class="form-group col-md-6">
              <label class="control-label col-sm-2" for="contact"> Key Contact:</label>
              <div class="col-sm-10">
                  <input type="text" ng-model="company.contact" class="form-control" id="contact" placeholder="Enter name of Key Contact" name="contact">
                  
              </div>
            </div>

     </div>


     <div class="col-md-12">

        <div class="form-group col-md-6">
            <label class="control-label col-sm-2" for="status"> Status:</label>
            <div class="col-sm-10">
                <select class="form-control" ng-model="company.status" ng-options="status for status in statusList" name="status">
                  </select>
            </div>
          </div>


          <div class="form-group col-md-6">
              &nbsp;
            </div>

     </div>








  
      <div class="form-group">        
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-primary btn-lg pull-right submit-btn" ng-click="submitForm();">Submit</button>
        </div>
      </div>
    </form>
  </div>
  


  <style>
  .alert-dismissable{
    width: 55%;
    margin-left: 22%;
  }
  .cross{
    cursor: pointer;
  }
  .submit-btn{
    margin-right: 30px;
  }
  </style>