<ol class="breadcrumb">
    <li class="active">Home </li>
  </ol>

  <div class="container">
      <div class="jumbotron">
        <h1>AKS Acquisition Portal</h1>      
        <p>This application helps in adding and managin details of companies that are going through or are in consideration for acquisition. </p>
      </div>     
    </div>


<div class="container">
  <div class="table-responsive">          
    <table class="table">
        <thead>
            <tr>
              <th>#</th>
              <th>Company Name</th>
              <th>Type</th>
              <th>Market Cap</th>
              <th>Headquarter</th>
              <th>Key Contact</th>
              <th>Status</th>
              <th>Last FY growth</th>
              <th>&nbsp;</th>
            </tr>
          </thead>

          <tbody>
            <tr ng-repeat="company in companyList">
              <td>{{company.id}}</td>
              <td>{{company.companyName}}</td>
              <td>{{company.companyType}}</td>
              <td>{{company.marketCap}}</td>
              <td>{{company.address}}</td>
              <td>{{company.keyContact}}</td>
              <td>{{company.status}}</td>
              <td>{{company.lastFYGrowthPerc}}</td>
              <td>
                <span  class="btn btn-info btn-sm pointer" ng-click="editCompany(company.id);">
                  <span class="glyphicon glyphicon-edit" ></span> Edit
                </span>

                <span  class="btn btn-danger btn-sm pointer"  ng-click="removeCompany(company.id);">
                    <span class="glyphicon glyphicon-remove"></span> Remove 
                </span>
              </td>
            </tr>
          </tbody>


    </table>
    </div>




      </div>


      <style>
       .pointer{
    cursor: pointer;
  }
      </style>